body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-bottom: 40px;
}

.moreForms {
    display: inline-flex;
}

.innerform {
    padding: 5px 25px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    font-size: 16px;
}
#deleteBtn {
    background-color: red;
}

#result {
    margin-top: 20px;
    text-align: center;
}

form {
    margin: 25px;
    padding: 10px 0px;
    border: 2px solid black;
}

input {
    margin: 1px;
}

.card {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fffbbb;
}

.card h2 {
    margin-top: 0;
    font-size: 18px;
}

.card p {
    margin-bottom: 5px;
}